* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.swiper {
  width: 100%;
  height: 450px;

  @media screen and (min-width: 1250px) and (max-width: 1500px) {
    height: 350px;
  }

    @media screen and (min-width: 1050px) and (max-width: 1250px) {
    height: 300px;
  }

      @media screen and (min-width: 850px) and (max-width: 1050px) {
    height: 250px;
  }
}

/* .swiper-container {
  height: 500px;
} */

.swiper-slide {
  background-image: url('https://i.vimeocdn.com/video/1666894951-d3fc47ae1d5f09250c468b79e4063afa7142163b5734eacb2277ea28acd44b52-d?mw=1000&mh=1000');
  background-size: 100% 100%;
  background-position: center;
  cursor: pointer;
}

.swiper-button-next,
.swiper-button-prev {
  color: rgb(255, 255, 255) !important;
  background-color: rgba(66, 66, 66, 0.7);
  padding: 30px 20px;
  border-radius: 5px;
}

/* ! Swiper Videos */

.bg {
  display: none;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.8);
  inset: 0;
  width: 100%;
  height: 100%;
  z-index: 99;
}

.visible {
  display: block;
}

.videos {
  height: 100%;
  display: none;
  z-index: 99;
}

.block {
  display: inline;
}

.videos .swiper-slide {
  width: 100%;
  background-image: none;
}

iframe {
  width: 100%;
  height: 90%;
  padding: 50px 0px;
}

.pagination-visible {
  height: 20px;
  bottom: 10% !important;
}

.swiper-pagination-bullet {
  background-color: #fff !important;
}

/* ! Close Button */

.closeBtn-container {
  display: none;
  position: absolute;
  top: 20px;
  right: 20px;
  z-index: 99;
  width: 30px;
  height: 30px;
  cursor: pointer;
}

.on {
  display: block;
}

.closeBtn {
  position: relative;
  width: 30px;
  height: 30px;
}

.line-before {
  position: absolute;
  background-color: #fff;
  width: 30px;
  height: 3px;
  transform: translateY(50%) rotate(45deg);
  bottom: 50%;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  border-radius: 10px;
}

.line-after {
  position: absolute;
  background-color: #fff;
  width: 30px;
  height: 3px;
  transform: translateY(50%) rotate(-45deg);
  bottom: 50%;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  border-radius: 10px;
}
